<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Бухлокарта</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>
<div class="wrapper">
    <main>
        <div class="text main-content">Что такое бухлокарта? Это карта, где обозначены безопасные места для культурного отдыха без риска наткнуться на стражей галактики.
        </div>
    </main>
    <div class="buttonplace">
    {%extends "layout.html"%}
    {%block content%}
        </div>
    <footer><div class="text footer"><h5>Карта разработана небезразличными гражданами. Обратная связь - <a href="mailto:buhlomap@gmail.com?subject=Обратная связь">buhlomap@gmail.com</a> </h5></div></footer>
</div>
{%endblock%}
</html>
