<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5005622c41d44fc0a87e30e1d5ad21f0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
                <div style="position: fixed; 
                            bottom: 520px; left: 10px; width: 100px; height: 140px;  
                            border:2px solid grey; z-index:9999; font-size:14px; font-family:Avantgarde;
                            line-height:2;
                            "><b><font size=3>&nbsp; Легенда </b></font><br>
                              &nbsp; Kaif &nbsp<i class="fa fa-circle fa-1x" style="color:green"></i><br>
                              &nbsp; Mid &nbsp; <i class="fa fa-circle fa-1x" style="color:orange"></i><br>
                              &nbsp; Мусора &nbsp; <i class="fa fa-female fa-2x" style="color:red"></i><br>
                </div>
                
    
            <div class="folium-map" id="map_5005622c41d44fc0a87e30e1d5ad21f0" ></div>
        
</body>
<script>    
    
            var map_5005622c41d44fc0a87e30e1d5ad21f0 = L.map(
                "map_5005622c41d44fc0a87e30e1d5ad21f0",
                {
                    center: [53.860838, 27.443097],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                    worldCopyJump: true,
                }
            );

            

        
    
            var tile_layer_ae78859e212642f3972cc9c1107a58f2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 12, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5005622c41d44fc0a87e30e1d5ad21f0);
        
    
            var tile_layer_56223fbabee347c7b565378c2b272318 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5005622c41d44fc0a87e30e1d5ad21f0);
        
    
            var tile_layer_5977acd19e7e410cb87c98cac8eb9e52 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5005622c41d44fc0a87e30e1d5ad21f0);
        
    
            var feature_group_e51b0d19c16d4675bc5dd90cf21eb12d = L.featureGroup(
                {}
            ).addTo(map_5005622c41d44fc0a87e30e1d5ad21f0);
        
    
            var circle_marker_a9701bea0273403995ad1dddc64908e6 = L.circleMarker(
                [53.861043, 27.442435999999997],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(feature_group_e51b0d19c16d4675bc5dd90cf21eb12d);
        
    
        var popup_683a9c5b8b42459c835f66ca84f03442 = L.popup({"maxWidth": "100%"});

        
            var i_frame_f73c57b3ed704883ae15eac5e7ca6dab = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAK0LTQstC+0YAg0YMg0JjQu9GO0YXQuAo8aW1nIHNyYz0naHR0cHM6Ly9wcC51c2VyYXBpLmNvbS9jODQ4NTM2L3Y4NDg1MzYxNzIvMWQyZTdjL29Gb3JtbmhfazJjLmpwZyc+" width="310" style="border:none !important;" height="413"></iframe>`)[0];
            popup_683a9c5b8b42459c835f66ca84f03442.setContent(i_frame_f73c57b3ed704883ae15eac5e7ca6dab);
        

        circle_marker_a9701bea0273403995ad1dddc64908e6.bindPopup(popup_683a9c5b8b42459c835f66ca84f03442)
        ;

        
    
    
            var circle_marker_3cd7503904ba4fd8a606fe2733cd6c13 = L.circleMarker(
                [53.860116000000005, 27.442148],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(feature_group_e51b0d19c16d4675bc5dd90cf21eb12d);
        
    
        var popup_0b79d5b028044bae8ec6078be7cc0dab = L.popup({"maxWidth": "100%"});

        
            var i_frame_3bf4fc8d39ae44c4b1845c3a92c842c6 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAK0LzQtdGB0YLQtdGH0LrQviDRgSDQutCw0YDRg9GB0LXQu9GM0Y4KPGltZyBzcmM9J2h0dHBzOi8vcHAudXNlcmFwaS5jb20vYzg0ODUzNi92ODQ4NTM2MTcyLzFkMmU3Yy9vRm9ybW5oX2syYy5qcGcnPg==" width="310" style="border:none !important;" height="413"></iframe>`)[0];
            popup_0b79d5b028044bae8ec6078be7cc0dab.setContent(i_frame_3bf4fc8d39ae44c4b1845c3a92c842c6);
        

        circle_marker_3cd7503904ba4fd8a606fe2733cd6c13.bindPopup(popup_0b79d5b028044bae8ec6078be7cc0dab)
        ;

        
    
    
            var circle_marker_27e1e8a9e10546f198f4f4a2b6fb31ac = L.circleMarker(
                [53.860206999999996, 27.439238],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(feature_group_e51b0d19c16d4675bc5dd90cf21eb12d);
        
    
        var popup_38ba26e83ccd4c07ba3f9eac3e6d5e82 = L.popup({"maxWidth": "100%"});

        
            var i_frame_8da5ca1934934bba9ea73c44f1464e19 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAK0LTQstC+0YAg0LPQtNC1INCQ0L3RgtC+0L0g0L3QsNGB0YHQsNC7INC90LAg0LrQsNGH0LXQu9C4CjxpbWcgc3JjPSdodHRwczovL3BwLnVzZXJhcGkuY29tL2M4NDg1MzYvdjg0ODUzNjE3Mi8xZDJlN2Mvb0Zvcm1uaF9rMmMuanBnJz4=" width="310" style="border:none !important;" height="413"></iframe>`)[0];
            popup_38ba26e83ccd4c07ba3f9eac3e6d5e82.setContent(i_frame_8da5ca1934934bba9ea73c44f1464e19);
        

        circle_marker_27e1e8a9e10546f198f4f4a2b6fb31ac.bindPopup(popup_38ba26e83ccd4c07ba3f9eac3e6d5e82)
        ;

        
    
    
            var circle_marker_6d4ab6f58a184857ad5a0a36aa0c940d = L.circleMarker(
                [53.860932999999996, 27.440748],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(feature_group_e51b0d19c16d4675bc5dd90cf21eb12d);
        
    
        var popup_5b5d166e465f46b586da8a7edd3eb115 = L.popup({"maxWidth": "100%"});

        
            var i_frame_932dfdb07ac54987a0e012892f2292e3 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAK0LTQstC+0YAg0LzQtdGB0YzQtSDQltC+0YDQuNC60LAKPGltZyBzcmM9J2h0dHBzOi8vcHAudXNlcmFwaS5jb20vYzg0ODUzNi92ODQ4NTM2MTcyLzFkMmU3Yy9vRm9ybW5oX2syYy5qcGcnPg==" width="310" style="border:none !important;" height="413"></iframe>`)[0];
            popup_5b5d166e465f46b586da8a7edd3eb115.setContent(i_frame_932dfdb07ac54987a0e012892f2292e3);
        

        circle_marker_6d4ab6f58a184857ad5a0a36aa0c940d.bindPopup(popup_5b5d166e465f46b586da8a7edd3eb115)
        ;

        
    
    
            var feature_group_d10d149c242e4bf5a44c5e6706adb099 = L.featureGroup(
                {}
            ).addTo(map_5005622c41d44fc0a87e30e1d5ad21f0);
        
    
        function geo_json_f1c1d1190a714ba2b45c1c412100f60d_styler(feature) {
            switch(feature.id) {
                default:
                    return {"color": "#FF0000", "fillColor": "#FF0000"};
            }
        }
        function geo_json_f1c1d1190a714ba2b45c1c412100f60d_onEachFeature(feature, layer) {
            layer.on({
                click: function(e) {
                    map_5005622c41d44fc0a87e30e1d5ad21f0.fitBounds(e.target.getBounds());
                }
            });
        };
        var geo_json_f1c1d1190a714ba2b45c1c412100f60d = L.geoJson(null, {
                onEachFeature: geo_json_f1c1d1190a714ba2b45c1c412100f60d_onEachFeature,
            
                style: geo_json_f1c1d1190a714ba2b45c1c412100f60d_styler,
        }).addTo(feature_group_d10d149c242e4bf5a44c5e6706adb099);
            geo_json_f1c1d1190a714ba2b45c1c412100f60d.addData({"features": [{"geometry": {"coordinates": [[[[27.438482, 53.859019], [27.43881, 53.859005], [27.438802, 53.858863], [27.438378, 53.858869], [27.438482, 53.859019]]], [[[27.440632, 53.857524], [27.441171, 53.857524], [27.441171, 53.857192], [27.440632, 53.8572], [27.440632, 53.857524]]]], "type": "MultiPolygon"}, "id": "0", "type": "Feature"}], "type": "FeatureCollection"});
        
    
            var layer_control_2622f8d412cf46cfba36afe759980660 = {
                base_layers : {
                    "openstreetmap" : tile_layer_ae78859e212642f3972cc9c1107a58f2,
                    "\u0422\u0435\u043c\u043d\u0430\u044f \u0442\u0435\u043c\u0430" : tile_layer_56223fbabee347c7b565378c2b272318,
                    "\u0421\u0432\u0435\u0442\u043b\u0430\u044f \u0442\u0435\u043c\u0430" : tile_layer_5977acd19e7e410cb87c98cac8eb9e52,
                },
                overlays :  {
                    "\u041c\u0435\u0441\u0442\u0430For\u041f\u043e\u0431\u0443\u0445\u0430\u0442\u044c" : feature_group_e51b0d19c16d4675bc5dd90cf21eb12d,
                    "\u041c\u0443\u0441\u043e\u0440\u0430" : feature_group_d10d149c242e4bf5a44c5e6706adb099,
                },
            };
            L.control.layers(
                layer_control_2622f8d412cf46cfba36afe759980660.base_layers,
                layer_control_2622f8d412cf46cfba36afe759980660.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_5005622c41d44fc0a87e30e1d5ad21f0);
            tile_layer_56223fbabee347c7b565378c2b272318.remove();
            tile_layer_5977acd19e7e410cb87c98cac8eb9e52.remove();
        
</script>